    <ul>
      <li><%= link_to "Disciplinas", disciplinas_path %></li>
      <li><%= link_to "Professores", professors_path %></li>
      <li><%= link_to "Alunos", alunos_path %></li>
      <li><%= link_to "Vinculo Disciplina e Professor", profdisciplinas_path %></li>
      <li><%= link_to "Vinculo Disciplina e Aluno", alunodiscs_path %></li>
      <li><%= link_to "Avaliação da Disciplina", avdiscips_path  %> </li>
    </ul>