<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @profdisciplina.professor.nome %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @profdisciplina.disciplina.codigo %>
</p>

<%= link_to 'Editar', edit_profdisciplina_path(@profdisciplina) %> |
<%= link_to 'Voltar', profdisciplinas_path %>
